*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    background: url("Assets/Hero-bg.png");
    height: 450px;
    width: 100%;
}

nav ul{
    border: none;
    color: blueviolet;
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;


}
nav ul li{
    list-style: none;
    font-size: 2em;
    margin: 10px;
}
.btn{
    padding: 10px 20px;
    background-color:blueviolet;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
}
.hero-section {
    padding: 100px;
    text-align: center;
}
.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    text-align: center; 
}

.main{
    background-color: #e7eaee;
}


/* Action Section*/
.action-section {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* for responsive */
  gap: 30px;
}
/* Left content */
.left-section {
  width: 45%;
  font-size: 1.2em;
}

.left-section h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

.left-section .subtitle {
  color: #555;
  margin-bottom: 20px;
}

/* Right image section */
.right-section {
  width: 45%;
}

.right-section img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}
/* Action Section*/


/* Productive user section */
.productive-user-section{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #c2c2cf;
    padding: 40px 20px;
    border-radius: 20px;
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
}
.container h1{
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 2em;
    color: #1a1a1a;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}
.card h1{
    font-size: 3em;
    color: #5a46f5;
    margin: 0;
}
.card p{
    margin-top: 5px;
}
/* Productive user section */

